.sidebar{
  background-color:$mblue;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-family:Verdana, Geneva, sans-serif;
  font-size:1em;
  box-shadow: 2px 0px 2px black;
  z-index:10;
  padding-top:50px;
  a{
    color:$lblue2;
  }
  a:hover{
    text-decoration:none;
    color:white;
  }
}

.side-content{
  color:white;
  padding-left:6%;
  padding-right:6%;
  padding-bottom:30px;

  li{
    list-style:none;
    margin-bottom:3px;
  }
}
.side-title{
  font-weight:bold;
  padding-bottom:10px!important;
}

.main-content{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#354c60+0,536d7f+100 */
background: rgb(53,76,96); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(53,76,96,1) 0%, rgba(83,109,127,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(53,76,96,1) 0%,rgba(83,109,127,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(53,76,96,1) 0%,rgba(83,109,127,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#354c60', endColorstr='#536d7f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

padding-top:50px;
padding-left:5%;
padding-right:5%;
h1{
  font-family:Verdana, Geneva, sans-serif;
  font-size:1.5em;
  margin-top:0px;
  color:white;
  margin-bottom:20px;
}
h3{
  font-family:Verdana, Geneva, sans-serif;
  font-size:1.1em;
  margin-top:0px;
  color:white;
  margin-bottom:20px;
  font-weight:bold;
}
p{
  font-family:Verdana, Geneva, sans-serif;
  color:white;
  font-size:0.9em;
  margin-bottom:30px;

}
li{
  list-style:none;
  font-family:Verdana, Geneva, sans-serif;
  color:white;
  font-size:0.9em;
  margin-bottom:10px;

}
}
.container-content{
  border-top:10px solid $dblue;
  font-family:Verdana, Geneva, sans-serif;
  font-size:1.0em;
}
.quote{
  font-family: Georgia, serif;
  font-size:1.3em;
  font-style:oblique;
  padding-bottom:3%;
  padding-right:3%;
  color:white;
}
.formations-section{
  margin-bottom:50px;
}

.col-temoignage{
  margin-bottom:30px;
  color:white;
  font-family:georgia, serif;
  font-style:oblique;
  // min-height:250px;
  p{
    margin-bottom:5px;
  }

}


@media only screen and (max-width:770px) {
  .main-content{

    padding-top:50px;
    padding-left:3%;
    padding-right:3%;
    h1{
      font-size:20px!important;
    }
    .quote{
      font-size:16px!important;
    }
    h3{
      font-family:Verdana, Geneva, sans-serif;
      font-size:18px;

    }
    .col-temoignage{
      min-height:100%!important;

    }
  }
}
.inline-list li{
  display:inline;


}
.section-note p{
  color:$dblue;

}
