.navbar-small{
  height:50px;
  background-color:$dblue;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  ul{
    margin:0px;
  }
  a{
    color:white;
    font-size:20px;
    opacity:0.7;
    &:hover{
      opacity:1;
      text-decoration:none;
    }
  }
}
