.banner {
  color: white;
  text-align: center;
  height: auto;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position:right;

}
.banner-item{
  height:20vh;
}

.navbar-menu{
  padding-top:3%;
  padding-right:3%;
  text-align:right;
  font-family:Verdana, Geneva, sans-serif;
  font-size: 30px;
  font-weight: lighter;
  color: white;
  a{
    color:white;
    text-decoration: none;
  }
  li{
    margin-left:25px;
    cursor:pointer;
    &:hover{
      opacity:1;
    }
  }
}

.banner-center{
  height:60vh;
  display:flex;
  align-items:center;
  justify-content:center;
  .small-photo{
    height:300px;
    width:300px;
    background-image:url("http://res.cloudinary.com/dasowf2xq/image/upload/v1534264059/Manon%20Minier/Manon_Minier.jpg");
    background-size: cover !important;
    display:inline-block;
  }
  h1 {
    font-size:60px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    font-family: Verdana, Geneva, sans-serif;
    // transition:font-size 0.3s;
  }
  h3 {
    font-size: 35px;
    font-weight: lighter;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
  }
}

.banner-content{
  width:33%;
}

.col-picture{
  height:100%;
  text-align:center
}

.photo-box{
  background-image:url("http://res.cloudinary.com/dasowf2xq/image/upload/v1534264059/Manon%20Minier/Manon_Minier.jpg");
  background-size: cover !important;
  max-width:500px;
  width:100%;
  height:100%;
  display:inline-block;
  background-position: center;
  position:relative;
}
.photo-hover{
  opacity:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:$dblue;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:8px;
    -webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;
    h1{
      font-size:40px!important;
    // margin-bottom:0px;
  }
  h3{
    font-size:25px!important;
    margin-top:0px;
    margin-bottom:10px!important;
  }
  p{
    font-size:18px;
  }
  &:hover{
    opacity:0.7;
  }
}

.quote-content{
  font-family: Georgia, serif;
  font-size:18px;
  font-style:oblique;
  text-align:right;
  padding-bottom:3%;
  padding-right:3%;
}
.auteur{
  font-style:normal;
}

.low-opacity{
  opacity:0.8;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}

.accent{
  color:$red!important;
  // font-weight:bolder;
}


//==================================================//

// @media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
// @media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
// @media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
// @media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
// @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
// @media (min-width:1281px) { /* hi-res laptops and desktops */ }



@media only screen and (max-width:641px) {
  .banner {
    height:100vh!important;
    padding:5%;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .banner-item{
    height:auto!important;
  }
  .banner-content{
    width:auto!important;
    margin-bottom:20px;
    h1{
      font-size:40px;
    }
    h3{
      font-size:22px;
    }

  }
  .quote-content{
    font-size:20px;
    text-align:center;
  }
}
@media only screen and (max-width: 961px) and (min-width: 642px) {
  .banner {
    padding:5%;
  }
  .banner-item{
    height:auto!important;
  }
  .banner-content{
    width:auto!important;
    margin-bottom:20px;
    h1{
      font-size:40px;
    }
    h3{
      font-size:25px;
    }

  }
  .quote-content{
    font-size:20px;
    text-align:center;
  }
}

