<div class="banner container-fluid" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/dasowf2xq/image/upload/v1534191225/Manon%20Minier/banner.jpg');">
  <div class="row">
    <div class="navbar-menu col-xs-12 banner-item">
      <ul class="list-inline">
        <li class="low-opacity"> <a id="btnSection2" href="#formations">formations</a></li>
        <li class="low-opacity"><%= link_to "profil", profil_path %></li>
        <li class="accent">contact</li>
      </ul>
    </div>

    <div class="banner-center col-xs-12 banner-item">
      <div class="banner-content col-picture">
        <div class="photo-box">
          <div class="photo-hover">
            <div class="photo-content">
              <h1>Manon Minier</h1>
              <h3>Comédienne - Coach</h3>
              <p>Issue du Conservatoire d'art dramatique de Québec 1991. J'enseigne la diction depuis plus de 20 ans; écoles privées, ateliers et coaching  individuel. Formations en chant et danse.</p> pour en savoir +
            </div>
          </div>
        </div>
      </div>
      <div class="banner-content col-centre">
        <div class="small-photo">
        </div>
        <h1>Manon Minier</h1>
        <h3>
          <span class="low-opacity">diction</span>
          <span class="accent">|</span>
          <span class="low-opacity">voix</span>
          <span class="accent">|</span>
          <span class="low-opacity">expression</span>
        </h3>
      </div>
      <div class="banner-content">
      </div>
    </div>

    <div class="quote-content col-xs-12 banner-item">
      Le véritable foyer de l'éloquence, c'est l'âme : <br>
      il faut qu'elle soit émue, qu'elle se remplisse d'images <br>
      et qu'elle s'identifie pour ainsi dire avec les choses dont on a à parler. <br><br>

      <span class="auteur">Quintilien, rhéteur et pédagogue latin du 1<sup>er</sup>siècle apr. J.-C.</span>
    </div>
  </div>
</div>
</div>

