<div class="container-fluid container-content" id="formations">
  <div class="row">
    <div class="hidden-xs hidden-sm col-md-2 sidebar">
      <div>
        <ul class="side-content">
          <li class="side-title"><span class="accent">/ </span>Diction</li>
          <li>Articulation</li>
          <li>Vivacité des mots</li>
          <li>Français normatif</li>
          <li>Netteté des sons</li>
          <li>Pauses adéquates</li>
          <li>Respirer un texte</li>
          <li>Débit</li>
          <li>Rythme</li>
        </ul>

        <ul class="side-content">
          <li class="side-title"><span class="accent">/ </span>Voix</li>
          <li>Pose de voix</li>
          <li>Projection</li>
          <li>Respiration</li>
          <li>Souplesse</li>
          <li>Profondeur</li>
        </ul>

        <ul class="side-content">
          <li class="side-title"><span class="accent">/ </span>Expression</li>
          <li>Désir de dire</li>
          <li>Raconter</li>
          <li>Naturel</li>
          <li>Authenticité</li>
          <li>Capter l'attention</li>
          <li>Soutenir l'intensité</li>
          <li>Convaincre</li>
          <li>Variété</li>
          <li>Style</li>
          <li>Mouvement</li>
          <li>Clarté</li>
          <li>Sensibilité</li>
          <li>Tonus corporel</li>
          <li>Langage non-verbal</li>
        </ul>
        <hr style="border-color:red">
        <ul class="side-content">
          <li class="side-title"><span class="accent">/ </span>Contact</li>
          <li><span class="accent">T </span>418-972-0641
          </li>

          <li><span class="accent">C </span>418-808-7649
          </li>
          <li><span class="accent">@ </span><a href="mailto:manonminier@hotmail.com">Courriel</a>
          </li>

        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 main-content">
      <div class="formations-section">
        <h1><span class="accent">/ </span>Formations</h1>
        <div class="quote">L'art d'exprimer sa pensée avec  clarté et sensibilité sans altérer le naturel et la vérité.<hr></div>
        <h3>Formation « Plaider est un art »</h3>
        <div class="quote">Être un excellent plaideur.</div>
        <p>
        Les éléments essentiels de la diction, de la voix et de l'expression permettent d'allier le fond (être convaincu) à la forme (être convaincant).</p>

        <ul>
          <li><span class="accent"><i class="fas fa-angle-right"></i> </span>Initiation (5 h) / maximum 20 participants</li>
          <li><span class="accent"><i class="fas fa-angle-right"></i> </span>Atelier pratique: présentation d'une plaidoirie  (5 h) / maximum 8 participants</li>
          <li><span class="accent"><i class="fas fa-angle-right"></i> </span>4 ateliers: sur 4 semaines (12 h) / maximum 8 participants</li>
          <li><span class="accent"><i class="fas fa-angle-right"></i> </span>Séminaire: sur 2 jours (12 h) / maximum 10 participants</li>
        </ul>

        <br>
        <br>

        <h3>Formation « 3V  vivacité voix vérité »</h3>
        <div class="quote">Être un excellent communicateur.</div>
        <p>
        Formation destinée à tous ceux et celles qui prennent parole en public. Présentation de projets, pitch de vente, présider une assemblée, entrevue aux médias, allocution, conférence ou autres.</p>
      </div>

      <div class="formations-section">
        <h1><span class="accent">/ </span>Coaching individuel</h1><hr>
        <p>
        Cours particuliers en diction, voix et expression pour une clientèle variée: journaliste, professeur (e), chanteur (se), gestionnaire, professionnel (le) des communications, avocat(e), candidat(e) concours oratoire Jeune Barreau de Québec, et autres. </p>
      </div>
      <h1><span class="accent">/ </span>Témoignages</h1><hr>
      <div class="formations-section temoignage-container container-fluid">

        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-temoignage"><p>Avant de débuter la formation, je réalisais déjà la pertinence d’une telle formation mais après y avoir goûté pendant trois heures, j’en suis maintenant persuadé.</p>
            <div class="auteur"><i class="fas fa-angle-right"></i> Me Louis Duquet</div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-temoignage"><p>Merci pour cette activité de formation des plus intéressante et pertinente pour la profession. Ces trois heures de formation ont été les meilleures depuis que je pratique, ça fait 25 ans!</p><div class="auteur"><i class="fas fa-angle-right"></i> S.L.</div></div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-temoignage"><p>Un vent de fraîcheur a soufflé sur le bureau ce mardi ! Que ce soit dans le thème abordé, la participation aux exercices et la personnalité remarquable de Manon : tout y était, vraiment. Chaque plaideur devrait bénéficier de ces conseils.</p><div class="auteur"><i class="fas fa-angle-right"></i> Me Carole-Anne Gagnon</div></div>


          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-temoignage"><p>Depuis mon assermentation, c’était de loin la formation la plus intéressante à laquelle j’ai assistée; Merci pour cette découverte !</p><div class="auteur"><i class="fas fa-angle-right"></i> Me Valérie Bergeron</div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-temoignage"><p>La qualité de votre initiative ainsi que sur la magistrale bouffée d’air frais insufflée…  qui incitent, sinon à l’excellence, à une simple recherche de l’amélioration de notre performance de plaideur… La plus talentueuse des orateurs qui nous l’aura rendue avec  toutes les habiletés qui sont siennes !</p>
          <div class="auteur"><i class="fas fa-angle-right"></i> Me Nelson Gagné</div></div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-temoignage"><p>Je tiens à te remercier personnellement pour tes précieux et judicieux conseils ainsi que pour ton implication, ce fut pour moi une très belle et enrichissante expérience.</p><div class="auteur"><i class="fas fa-angle-right"></i> Me Marie-Michelle Savard</div></div>


          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-temoignage"><p>Quand on apprend quelque chose de marquant, de nouveau, de pétillant, de rafraîchissant, ça donne du spirit pour la suite. J’ai été impressionné par l’immense intérêt et bassin de connaissances que possède madame Minier qui nous l’a si généreusement transmis en seulement quelques heures. À mon humble avis, c’est un must. Le cours de madame Minier est, selon mon expérience, la base des bases en communication. Pour moi c’est un gros OUAWE, un coup de cœur. Je vous le garanti.</p>
            <div class="auteur"><i class="fas fa-angle-right"></i> Me Michel Barakatt</div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
