<div class="container-fluid container-content" id="formations">
  <div class="row">

    <!-- LEFT SIDEBAR -->

    <div class="hidden-xs hidden-sm col-md-3 col-lg-2 sidebar">
      <div>
        <ul class="side-content">
          <li class="side-title"><span class="accent">/ </span>Diction</li>
          <li>Articulation </li>
          <li>Vivacité des mots</li>
          <li>Français normatif</li>
          <li>Netteté des sons</li>
          <li>Pauses adéquates</li>
          <li>Respirer un texte</li>
          <li>Débit</li>
          <li>Rythme</li>
        </ul>

        <ul class="side-content">
          <li class="side-title"><span class="accent">/ </span>Voix</li>
          <li>Pose de voix</li>
          <li>Projection</li>
          <li>Respiration</li>
          <li>Souplesse</li>
          <li>Profondeur</li>
        </ul>

        <ul class="side-content">
          <li class="side-title"><span class="accent">/ </span>Expression</li>
          <li>Désir de dire</li>
          <li>Raconter</li>
          <li>Naturel</li>
          <li>Authenticité</li>
          <li>Capter l'attention</li>
          <li>Soutenir l'intensité</li>
          <li>Convaincre</li>
          <li>Variété</li>
          <li>Style</li>
          <li>Mouvement</li>
          <li>Clarté</li>
          <li>Sensibilité</li>
          <li>Tonus corporel</li>
          <li>Langage non-verbal</li>
        </ul>
        <hr style="border-color:red">
        <ul class="side-content">
          <li class="side-title"><span class="accent">/ </span>Contact</li>
          <li><span class="accent">C </span>418-808-7649
          </li>
          <li><span class="accent">@ </span><a href="mailto:coach@manonminierdiction.com ">Courriel</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- RIGHT MAIN CONTENT -->

    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 main-content">

      <!-- FORMATION -->

      <div class="formations-section">
        <h1><span class="accent">/ </span>Formations</h1>
        <div class="quote">L'art d'exprimer sa pensée avec  clarté et sensibilité sans altérer le naturel et la vérité.<hr></div>
        <h3>Formation « Plaider est un art »</h3>
        <div class="quote">Être un excellent plaideur.</div>
        <p>
        Les éléments essentiels de la diction, de la voix et de l'expression permettent d'allier le fond (être convaincu) à la forme (être convaincant).</p>

        <ul>
          <li><span class="accent"><i class="fas fa-angle-right"></i> </span>Initiation (5 h) / maximum 20 participants</li>
          <li><span class="accent"><i class="fas fa-angle-right"></i> </span>Atelier pratique: présentation d'une plaidoirie  (5 h) / maximum 8 participants</li>
          <li><span class="accent"><i class="fas fa-angle-right"></i> </span>4 ateliers: sur 4 semaines (12 h) / maximum 10 participants</li>
          <li><span class="accent"><i class="fas fa-angle-right"></i> </span>Séminaire: sur 2 jours (12 h) / maximum 10 participants</li>
        </ul>

        <br>
        <div class="section-note">
          <p>* Possibilité d’une reconnaissance de formation continue obligatoire par un dispensateur accrédité.</p>
        </div>
        <br>

        <h3>Formation « 3V  vivacité voix vérité »</h3>
        <div class="quote">Être un excellent communicateur.</div>
        <p>
        Formation destinée à tous ceux et celles qui prennent parole en public. Présentation de projets, pitch de vente, présider une assemblée, entrevue aux médias, allocution, conférence ou autres.</p>
      </div>

      <!-- COACHING INDIVIDUEL -->

      <div class="formations-section">
        <h1><span class="accent">/ </span>Coaching individuel</h1><hr>
        <p>
        Cours particuliers en diction, voix et expression pour une clientèle variée: avocat(e), journaliste, professeur (e), chanteur (se), gestionnaire, professionnel (le) des communications, candidat(e) concours oratoire Jeune Barreau de Québec, et autres. </p>
      </div>
      <div class="section-note">
        <p>* Je me déplace à vos bureaux selon vos besoins.</p>
      </div>
      <br>

      <!-- TEMOIGNAGES-->

      <h1><span class="accent">/ </span>Témoignages</h1><hr>
      <div class="formations-section temoignage-container container-fluid">

        <div class="row">


          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-temoignage"><p>Captivante, ouverte, généreuse et dynamique, voilà quelques-unes des belles
            qualités de Madame Minier. La formation reçue par mes étudiants du cours de
            communication a été impeccable ! Son enseignement est clair et agréable. Les
            mises en situation sont très formatrices grâce à sa compétence, sa sincérité et
            à sa manière très gentille, amusante et empreinte de doigté d’apporter les
            correctifs. Un gros merci de ma part et de celle de mes étudiants! Vous faites
          un travail extraordinaire ! Un gros merci encore !</p>
          <div class="auteur"><i class="fas fa-angle-right"></i> Julie Paquet, Professeure de littérature, Campus Notre-Dame-de-Foy</div>
        </div>


          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-temoignage"><p>Quand on apprend quelque chose de marquant, de nouveau, de pétillant, de rafraîchissant, ça donne du spirit pour la suite. J’ai été impressionné par l’immense intérêt et bassin de connaissances que possède madame Minier qui nous l’a si généreusement transmis en seulement quelques heures. À mon humble avis, c’est un must. Le cours de madame Minier est, selon mon expérience, la base des bases en communication. Pour moi c’est un gros OUAWE, un coup de cœur. Je vous le garantis.</p>
            <div class="auteur"><i class="fas fa-angle-right"></i> Me Michel Barakatt</div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-temoignage"><p>Avant de débuter la formation, je réalisais déjà la pertinence d’une telle formation mais après y avoir goûté pendant trois heures, j’en suis maintenant persuadé.</p>
            <div class="auteur"><i class="fas fa-angle-right"></i> Me Louis Duquet</div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-temoignage"><p>La qualité de votre initiative ainsi que sur la magistrale bouffée d’air frais insufflée…  qui incitent, sinon à l’excellence, à une simple recherche de l’amélioration de notre performance de plaideur… La plus talentueuse des orateurs qui nous l’aura rendue avec  toutes les habiletés qui sont siennes !</p>
            <div class="auteur"><i class="fas fa-angle-right"></i> Me Nelson Gagné</div></div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-temoignage"><p>Depuis mon assermentation, c’était de loin la formation la plus intéressante à laquelle j’ai assistée; Merci pour cette découverte !</p><div class="auteur"><i class="fas fa-angle-right"></i> Me Valérie Bergeron</div>
          </div>


          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-temoignage"><p>Merci pour cette activité de formation des plus intéressante et pertinente pour la profession. Ces trois heures de formation ont été les meilleures depuis que je pratique, ça fait 25 ans!</p><div class="auteur"><i class="fas fa-angle-right"></i> S.L.</div></div>


          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-temoignage"><p>Je tiens à te remercier personnellement pour tes précieux et judicieux conseils ainsi que pour ton implication, ce fut pour moi une très belle et enrichissante expérience.</p><div class="auteur"><i class="fas fa-angle-right"></i> Me Marie-Michelle Savard</div></div>



          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-temoignage"><p>Un vent de fraîcheur a soufflé sur le bureau ce mardi ! Que ce soit dans le thème abordé, la participation aux exercices et la personnalité remarquable de Manon : tout y était, vraiment. Chaque plaideur devrait bénéficier de ces conseils.</p><div class="auteur"><i class="fas fa-angle-right"></i> Me Carole-Anne Gagnon</div></div>



        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-temoignage"><p>L'atelier offert par Mme Minier aux étudiants de notre collège a admirablement complété leur formation en communication. C'est qu'elle incarne parfaitement ce qu'elle enseigne: la beauté d'un verbe porteur d'émotion et de vérité. Que du bonheur!</p><div class="auteur"><i class="fas fa-angle-right"></i>

        Caroline Paquet, professeure de littérature, Campus Notre-Dame de Foy</div></div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-temoignage"><p>J'ai apprécié la formation. Elle a pour objet un sujet que nous n'avons pas ou très peu la chance de travailler, d'améliorer et de perfectionner. Elle nous permet de prendre conscience de la façon que nous avons de transmettre un message. Le message le plus juste perdra de sa puissance s'il est mal transmis. Cette formation est donc pertinente, puisqu'elle nous permet de travailler sur notre capacité à bien se faire comprendre. Elle nous donne un éclairage différent sur ce que l'on dit, mais surtout comment on le dit et l'impact que cela peut avoir.<br><br>J’ai adoré la formation. Tel que je l’ai mentionné à la formatrice à la fin de la journée, habituellement, les formations dites non juridiques sont parfois plus ou moins adaptées à notre réalité. Mais dans ce cas, la formation traitait de termes juridiques, avec des exemples concrets, tirés de notre réalité. Je recommande cette formation à tout nouveau plaideur et même les plaideurs aguerris. La formatrice était dynamique et a su rendre le climat propice à l’enrichissement. Il serait également tout à gagner de rendre cette formation disponible lors du Baccalauréat ou à l’École du Barreau.<br><br>J’ai apprécié la formation puisque celle-ci était différente de ce à quoi nous sommes habitués comme formation. De plus, la formatrice était intéressante, captivante et sa façon de donner la formation était agréable. Le cours était structuré et pratique surtout pour notre profession, bien que souvent nous faisons fi de cet aspect dans notre pratique.
Si une seconde formation de ce type se donne éventuellement dans notre région, je m’y inscrirai sans hésiter. »<br><br>J’ai grandement apprécié l’approche participative de la formatrice. « L’art de plaider » est bien ancré dans le domaine juridique, mais offre également une perspective externe rafraîchissante et extrêmement instructive sur la plaidoirie. Il s’agit d’un enseignement que j’aurais souhaité recevoir au cours de ma formation en droit, de même qu’à l’École du Barreau. Il m’est rarement arrivé d’assister à une formation aussi bien montée et bien dirigée.
Merci aux organisateurs – je suis vraiment reconnaissante d’avoir pu suivre cette formation!<br><br>
J'ai été agréablement surpris par la formation. Je n'avais pas vraiment d'attente, mais suis plus habitué aux longues formations magistrales. Or, Mme Minier a su retenir notre attention du début à la fin de la formation.<br><br>Par ailleurs, je recommanderais cette formation à tous les plaideurs, puisqu’elle met en lumière une grande lacune chez une grande partie des plaideurs. Les outils transmis en matière de diction et de communication efficace auront une incidence certaine sur ma manière d'aborder mes représentations au Tribunal.<br><br>J’ai passé une très belle journée de formation auprès de Mme Minier et cela a dépassé mes attentes. Mme Minier avait une approche très dynamique et singulière, que j’ai fort appréciée. Cette formation nous sort réellement de notre zone de confort et nous permet de développer de nouveaux acquis, lorsque nous allons à la Cour. Je recommande cette formation aux avocats plaideurs, de même qu’aux étudiants en droit. C’est très pertinent!</p><div class="auteur"><i class="fas fa-angle-right"></i>

Me Geneviève Chassé, Jeune Barreau Bas-Saint-Laurent-Gaspésie-Îles-de-la-Madeleine</div></div>




 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-temoignage"><p>J’ai été extrêmement satisfait de l’entièreté de la formation ! J’en retiens une foule de conseils qui me seront certainement utiles. Les exemples réels que vous donnez sont très drôles et nous aident à retenir la matière et à constater son importance.<br><br>Je crois tout comme vous qu’une formation de ce type devrait être enseignée à l’École du Barreau, surtout pour le volet qui aide particulièrement à avoir une plaidoirie convaincante. Je réfère principalement aux pauses verbales, à l’accent tonique et à la voix (registre, respiration…). Merci beaucoup pour cette formation. Ça a été un plaisir tout au long de la journée. Bonne continuation et au plaisir ! </p><div class="auteur"><i class="fas fa-angle-right"></i>Me Simon Verville</div></div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-temoignage"><p>J’ai d’abord été saisie par toute l’intensité de votre approche et de votre personnalité, même.
J’ai adoré tous les exercices auxquels vous nous avez soumis : diction, présentation et lecture. Vous êtes absolument adorable dans votre façon de nous corriger. Je pense que tout le monde était très à l’aise de se prêter aux exercices et c’est grâce à vous. Le phrasé, l’élision, les déformations et les anglicismes constituaient de la matière qu’il était facile de lier directement à notre pratique. Le tout était très pertinent et votre enseignement à cet effet était clair et agréable. J’ai déjà hâte de pouvoir mettre tout ça en pratique. Une grande réussite !Merci beaucoup et au plaisir !</p><div class="auteur"><i class="fas fa-angle-right"></i>Me Julie Martineau</div></div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-temoignage"><p>
Formation 3V Vivacité-Voix-Vérité « L’ART DE PLAIDER SA CAUSE »<br><br>La facilité d’adaptation de la formatrice, l’originalité et l’énergie. Formation bien adaptée qui donne de l’assurance et de la confiance pour l’avenir, beaucoup d’exemples, exercices de diction, etc. Le dynamisme de Manon, sa générosité, sa vivacité. Je me suis sentie nourrie par son énergie!
Présentation dynamique, captivante, impressionnante. Mme Minier est une excellente pédagogue, maîtrise. Tout était parfait! J’ai tout apprécié, Manon est super, merci! Je me sens outillée pour mettre en pratique ce que j’ai appris. Un beau travail de remise à niveau du français oral.
Revenir et convaincre les autres de suivre cette formation.</p><div class="auteur"><i class="fas fa-angle-right"></i>Mme Amélie Bureau, agente de développement communautaire - Corporation de développement communautaire des Grandes Marées</div></div>






</div>

      </div>









    </div>
  </div>
</div>
</div>
