<div class="footer">
  <div>
    2018 <i class="far fa-copyright"></i>  Manon Minier | toile : Portraits de femmes, <i>La Posée</i>, huile 14x17 <i class="far fa-copyright"></i> Minier | création WEB : David Poisson Paré | Crédit photo : Marc Robitaille
  </div>
</div>
