
<div class="footer-contact hidden-md hidden-lg hidden-xl">


  <div class="contact"><span class="accent">T </span><a href="tel:418-972-0641">418-972-0641</a></div>
  <div class="contact"><span class="accent">C </span><a href="tel:418-808-7649">418-808-7649</a></div>
  <div class="contact"><span class="accent">@ </span><a href="mailto:manonminier@hotmail.com">Courriel</a></div>




</div>






<div class="footer">
  <div>
    2018 <i class="far fa-copyright"> Manon Minier</i>
  </div>
</div>
