      <div>
        <ul class="side-content inline-list">
          <li class="side-title"><span class="accent">/ </span>Diction<span class="accent"> > </span></li>
          <li>Articulation |</li>
          <li>Vivacité des mots |</li>
          <li>Français normatif |</li>
          <li>Netteté des sons |</li>
          <li>Pauses adéquates |</li>
          <li>Respirer un texte |</li>
          <li>Débit |</li>
          <li>Rythme</li>
        </ul>

        <ul class="side-content inline-list">
          <li class="side-title"><span class="accent">/ </span>Voix<span class="accent"> > </span></li>
          <li>Pose de voix |</li>
          <li>Projection |</li>
          <li>Respiration |</li>
          <li>Souplesse |</li>
          <li>Profondeur</li>
        </ul>

        <ul class="side-content inline-list">
          <li class="side-title"><span class="accent">/ </span>Expression<span class="accent"> > </span></li>
          <li>Désir de dire |</li>
          <li>Raconter |</li>
          <li>Naturel |</li>
          <li>Authenticité |</li>
          <li>Capter l'attention |</li>
          <li>Soutenir l'intensité |</li>
          <li>Convaincre |</li>
          <li>Variété |</li>
          <li>Style |</li>
          <li>Mouvement |</li>
          <li>Clarté |</li>
          <li>Sensibilité |</li>
          <li>Tonus corporel |</li>
          <li>Langage non-verbal</li>
        </ul>
      </div>



  <div class="contact hidden-md hidden-lg hidden-xl"><span class="accent">C </span><a href="tel:418-808-7649">418-808-7649</a></div>

  <div class="contact-pc hidden-xs hidden-sm"><span class="accent">C </span>418-808-7649</div>

  <div class="contact hidden-md hidden-lg hidden-xl"><span class="accent">@ </span><a href="mailto:manonminier@hotmail.com">Courriel</a></div>


  <div class="contact-pc hidden-xs hidden-sm"><span class="accent">@ </span><a href="mailto:manonminier@hotmail.com">Courriel</a></div>
