  <div class="contact hidden-md hidden-lg hidden-xl"><span class="accent">T </span><a href="tel:418-972-0641">418-972-0641</a></div>

  <div class="contact-pc hidden-xs hidden-sm"><span class="accent">T </span>418-972-0641</div>

  <div class="contact hidden-md hidden-lg hidden-xl"><span class="accent">C </span><a href="tel:418-808-7649">418-808-7649</a></div>

  <div class="contact-pc hidden-xs hidden-sm"><span class="accent">C </span>418-808-7649</div>

  <div class="contact hidden-md hidden-lg hidden-xl"><span class="accent">@ </span><a href="mailto:manonminier@hotmail.com">Courriel</a></div>


  <div class="contact-pc hidden-xs hidden-sm"><span class="accent">@ </span><a href="mailto:manonminier@hotmail.com">Courriel</a></div>
