<!-- <div class="phone-menu-open">test</div> -->

<%= render "banner" %>
<%= render "content" %>
    <div class="footer-contact hidden-md hidden-lg hidden-xl">

      <%= render :partial => 'website/footer_contact' %>

    </div>
<%= render "footer" %>


