    <div class="show-container">

      <div class="banner-show container-fluid contact-page" style="background-image: linear-gradient(-225deg, rgba(83, 109, 127, 1) 0%, rgba(0,36,61,0.9) 50%), url('https://res.cloudinary.com/dasowf2xq/image/upload/v1534191225/Manon%20Minier/banner.jpg');">
        <div class="row">
          <div class="navbar-menu col-xs-12 banner-item hidden-xs hidden-sm">
            <ul class="list-inline">
              <li class="low-opacity">

                <%= link_to "accueil", root_path %></li>
                <li class="low-opacity"><%= link_to "contact", new_message_path, :class => "accent" %></li>
              </ul>
            </div>
          </div>

          <h1>MANON MINIER</h1>
          <h2>Coach

          <span class="low-opacity">diction</span>
          <span class="accent">|</span>
          <span class="low-opacity">voix</span>
          <span class="accent">|</span>
          <span class="low-opacity">expression</span></h2>
          <br>
          <hr>
          <br>
          <div class="column">
            <p>
              Comédienne, diplômée du Conservatoire d’art dramatique de Québec en 1991, perfectionnée
              en chant et danse également, j’ai exercé mon métier sur scène pendant quinze ans dans une
              trentaine de productions théâtrales, revues et comédies musicales à Québec et en tournée. J’ai
              été dirigée entre autres par Denise Verville, Philippe Soldevila, Michel Nadeau, Gill Champagne,
              Luc Senay, Jean-Frédéric Messier, Richard Paquet… J’ai notamment tenu les rôles principaux
              dans <i>Les Hauts de Hurlevent</i>, la comédie musicale <i>Annie, Deux tangos pour toute une vie</i> et le
              one woman show <i>Conte de Jeanne-Marc, chevalière de la tour</i> joué plus de 200 fois en français
              et en anglais, en tournée au Québec et au Canada (Young People Theater à Toronto, nommée
              pour un Dora Awards, Centre National des Arts à Ottawa, Vancouver, etc.). Choriste dans le
              spectacle <i>Elvis Story</i> au Capitole de Québec, Casino de Hull, Paris, Chine et Japon. En 2013-14 et
              2015, M. Alain Goldberg me confiait la mise en scène et direction artistique du spectacle multi-
              artistique <i>Skatemania</i>, alliant chant, danse, art du cirque et patinage artistique, diffusé sur les
              ondes de TVA regroupant une cinquantaine d’artistes tels : les médaillés olympiques en
              patinage artistique Duhamel-Radford, Joannie Rochette, Cizeron-Papadakis, Marie-Ève Janvier,
              Jean-François Breau, Marc Dupré, Marc Hervieux, Liana Bureau, District.Mao, Machine de
              Cirque, Dominic Lacasse (l’homme drapeau) et plusieurs autres. J’ai enregistré plus de deux
              cents voix hors-champ pour des publicités à la radio et télévision, narrations, galas etc. Voix
              officielle de QuébecTel de 1997 à 2001. Artiste-peintre autodidacte depuis plusieurs années, je
              me livre à l’écriture, en parallèle. L’une, la peinture, ne va pas sans l’autre, la poésie…
            </p>
            <p>
              Professeure de diction depuis plus de 20 ans, entre autres au CART Collège des animateurs
              radio-télévision, 1996-06 (animateurs, chroniqueurs, professeurs etc.) et à mode é arto en jeu-
              diction-voix, voix-micro et mises en scène, de 2000 à 2018. En formation privée pour une
              clientèle variée (avocats, journalistes, chanteurs, gestionnaires, entraîneurs, candidats pour le
              concours oratoire <i>Le Rabat d’Or</i>, Jeune Barreau de Québec etc.).
            </p>
            <p>
              Je détiens un D.E.C. en techniques juridiques du Collège de Rimouski (1983-86) et reçu une
              bourse d’excellence du Barreau du Bas-St-Laurent. J’ai occupé le poste de technicienne en droit
              au cabinet de Cain, Lamarre, avocats à Chicoutimi de 1986 à 1988.
            </p>
          </div>
        </div></div>
