    <div class="show-container">

      <div class="banner-show container-fluid contact-page" style="background-image: linear-gradient(-225deg, rgba(83, 109, 127, 1) 0%, rgba(0,36,61,0.9) 50%), url('https://res.cloudinary.com/dasowf2xq/image/upload/v1534191225/Manon%20Minier/banner.jpg');">
        <div class="row">
          <div class="navbar-menu col-xs-12 banner-item hidden-xs">
            <ul class="list-inline">
              <li class="low-opacity">

                <%= link_to "accueil", root_path %></li>
                <li class="low-opacity"><%= link_to "contact", new_message_path, :class => "accent" %></li>
              </ul>
            </div>
          </div>

          <h1><span class="accent">/ </span>MANON MINIER</h1>
          <h2>Coach diction-voix-expression</h2>
          <h3>Artiste multidisciplinaire</h3>
          <br>
          <hr>
          <br>
          <div class="column">
            <p>
              Comédienne, diplômée du Conservatoire d’art dramatique
              de Québec en 1991, perfectionnée en chant et danse
              également, j’ai exercé mon métier sur scène pendant
              quinze ans dans plus d'une trentaine de productions
              théâtrales, revues et comédies musicales à Québec et en
              tournée. J’ai été dirigée entre autres par Denise Verville,
              Philippe Soldevila, Gill Champagne, Luc Senay, Jean-
              Frédéric Messier, Marie-Thérèse Fortin... J’ai notamment
              tenu les rôles principaux dans Les Hauts de Hurlevent, la
              comédie musicale Annie, Deux tangos pour toute une vie et
              le one woman show Conte de Jeanne-Marc, joué plus de
              200 fois en français et en anglais, en tournée au Québec et
              au Canada (Young People Theater à Toronto, nommée
              pour un Dora Awards, Centre National des Arts à Ottawa, etc.).
            </p>
            <p>
              Choriste dans le spectacle Elvis
              Story au Capitole de Québec, Casino de Hull, Paris, Chine et Japon. Chanteuse soliste dans
              plusieurs événements corporatifs ou spectacles d’envergure dont Show et Froid. En 2013-14 et
              2015, M. Alain Goldberg me confiait la mise en scène et direction artistique du spectacle multi-
              artistique Skatemania, alliant chant, danse, art du cirque et patinage artistique, diffusé sur les
              ondes de TVA.
            </p>
            <p>
              Professeure de diction depuis 20 ans, entre autres au CART Collège des animateurs radio-télé,
              en formation privée pour une clientèle variée (journalistes, avocate, chanteuse, gestionnaire,
              entraîneur etc.) et ateliers particuliers. J’ai enregistré plus de deux cents voix hors-champ pour
              des publicités à la radio et télévision, narrations, galas etc. Voix officielle de QuébecTel de 1997
              à 2001.
              Je détiens un D.E.C. en techniques juridiques du Collège de Rimouski (1983-86) et reçu une
              bourse d’excellence du Barreau du Bas-St-Laurent.
              J’ai occupé le poste de technicienne en droit au cabinet de Cain, Lamarre, avocats à Chicoutimi
              de 1986 à 1988.
              Je me consacre maintenant à l’enseignement du jeu-diction-voix et signe des mises en scène à
              l’école d’acteur mode é arto depuis 2005.
              Artiste-peintre autodidacte depuis plusieurs années, je me livre à l’écriture, en parallèle. L’une,
              la peinture, ne va pas sans l’autre, la poésie...
            </p>
          </div>
        </div></div>

        <div class="footer-contact">

          <%= render :partial => 'website/footer_contact' %>

        </div>


        <%= render "footer" %>
